@charset "UTF-8";
/* CSS Document */

@media screen and (max-width:600px){
	
	#a-foo-00 {
		width: 100%;
		height: 70px;
		padding: 0;
		margin: auto 0 0 0;
		background-color: rgb(20,20,20);
		position: relative;
		box-sizing: border-box;
		z-index: 10000000;
	}
	
	#lbl-00-a-foo-00 {
		height: 14px;
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		line-height: 14px;
		color: rgba(255,255,255,0.7);
		font-weight: 400;
		width: 100%;
		position: absolute;
		left: 0;
		flex-shrink: 0;
		top: 18px;
		text-align: center;
	}
	
	#lbl-01-a-foo-00 {
		height: 14px;
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		line-height: 14px;
		color: rgba(255,255,255,0.7);
		font-weight: 400;
		width: 100%;
		position: absolute;
		left: 0;
		top: 38px;
		text-align: center;
	}
}
