@charset "UTF-8";
/* CSS Document */

@media screen and (min-width: 601px) and (max-width: 1200px){
	
	#a-hea-00 {
		width: 100%;
		height: 60px;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 1000002;
		box-shadow: 0 0 30px -10px rgba(0,0,0,0.1);
	}
	
	#div-00-a-hea-00 {
		width: 100%;
		height: 60px;
		position: absolute;
		margin: 0;
		background-color: white;
		display: flex;
		flex-flow: row nowrap;
	}
	
	#div-00-div-00-a-hea-00 {
		height: 100%;
		width: auto;
		position: relative;
		outline: none;
		border: none;
		margin: 0;
		display: flex;
		flex-flow: row nowrap;
	}
	
	#img-00-div-00-div-00-a-hea-00 {
		height: 40px;
		width: 40px;
		position: relative;
		margin: 10px 20px 10px 30px;
	}
	
	#spn-00-div-00-a-hea-00 {
		height: 100%;
		width: 1px;
		background-color: rgb(240,240,240);
		position: relative;
		outline: none;
		border: none;
		margin: 0 20px 0 0;
	}

	.a-00-div-00-a-hea-00 {
		max-width: 90px;
		flex-grow: 1;
		height: 60px;
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		line-height: 14px;
		color: rgb(100,100,120);
		font-weight: 500;
		position: relative;
		margin: 0;
		padding: 23px 0;
		cursor: pointer;
		box-sizing: border-box;
		text-decoration: none;
		flex-shrink: 1;
		white-space: nowrap;
		display: flex;
		flex-flow: row nowrap;
	}
	
	.a-00-div-00-a-hea-00::before, .a-00-div-00-a-hea-00::after {
		content: '';
		max-width: 20px;
		height: 1px;
		position: relative;
		display: inline-block;
		flex-shrink: 2;
		flex-grow: 1;
	}
	
	.a-00-div-00-a-hea-00:hover {
		color: rgb(50,50,60);
		border-bottom: 2px solid rgb(200,200,200);
	}
	
	#a-01-div-00-a-hea-00 {
		width: auto;
		height: 35px;
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		line-height: 14px;
		color: rgb(255,255,255);
		font-weight: 600;
		position: relative;
		margin: 12.5px 25px 12.5px auto;
		padding: 10.5px 12px;
		border-radius: 8px;
		background-color: rgb(90,0,255);
		cursor: pointer;
		box-sizing: border-box;
		text-decoration: none;
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
	}
	
	#a-01-div-00-a-hea-00:hover {
		transform: scale(1.02);
	}
	
	#div-01-div-00-a-hea-00 {
		width: 50px;
		height: 40px;
		margin: 10px 30px 10px 0;
		position: relative;
		cursor: pointer;
 	}
	
	#div-01-div-00-a-hea-00 span {
		width: 35px;
		height: 35px;
		position: absolute;
		overflow: hidden;
		border-radius: 17.5px;
		top: 2.5px;
		left: 0;
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
	}
	
	#img-00-spn-00-div-01-div-00-a-hea-00 {
		width: auto;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	#svg-00-div-01-div-00-a-hea-00 {
		width: 10px;
		height: 10px;
		position: absolute;
		top: 15px;
		right: 0;
	}
	
	#svg-00-div-01-div-00-a-hea-00 path {
		fill: rgb(30,28,34);
		stroke: none;
	}
	
	#div-01-div-00-a-hea-00:hover span {
		transform: scale(1.05);
	}
	
	
	
	
	#h-div-00 {
		width: 300px;
		height: auto;
		position: fixed;
		top: 85px;
		right: 20px;
		z-index: 10000003;
		display: flex;
		flex-flow: column nowrap;
		transition: 0.3s;
		transform-origin: top;
	}
	
	#h-div-00::before {
		content: '';
		z-index: 0;
		box-shadow: 0 0 30px 0px rgba(0,0,0,0.2);
		position: absolute;
		left: 10px;
		top: 10px;
		right:  10px;
		bottom: 10px;
	}
	
	#h-div-00::after {
		content: '';
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		position: absolute;
		background-color: white;
		border-radius: 8px;
	}
	
	#svg-00-h-div-00 {
		width: 20px;
		height: 20px;
		top: -20px;
		right: 32.5px;
		position: absolute;
	}
	
	#svg-00-h-div-00 path {
		fill: white;
		stroke: none;
	}
	
	#div-00-h-div-00 {
		width: 100%;
		height: auto;
		display: flex;
		flex-flow: column nowrap;
		position: relative;
		margin: 0;
		padding: 50px 0;
		z-index: 2;
	}
	
	#spn-00-div-00-h-div-00 {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translate(0, -50%);
		border-radius: 25px;
		overflow: hidden;
	}
	
	#spn-00-div-00-h-div-00 img {
		width: auto;
		height: auto;
		left: 0;
		top: 0;
		position: absolute;
	}
	
	#div-00-h-div-00 h2 {
		width: calc(100% - 80px);
		height: auto;
		font-size: 16px;
		line-height: 20px;
		font-weight: 600;
		font-family: 'Lato', sans-serif;
		position: relative;
		margin: auto 10px 0 70px;
		color: rgb(30,30,30);
	}
	
	#div-00-h-div-00 label {
		width: calc(100% - 80px);
		height: 13px;
		font-size: 13px;
		line-height: 13px;
		font-weight: 400;
		padding-bottom: 5px;
		white-space: nowrap;
		font-family: 'Lato', sans-serif;
		position: relative;
		margin: 5px 10px auto 70px;
		color: rgb(100,100,100);
	}
	
	#div-01-h-div-00 {
		width: 100%;
		height: 50px;
		display: flex;
		flex-flow: row nowrap;
		position: relative;
		margin: 0;
		padding: 0;
		overflow: hidden;
		border-top: 1px solid rgb(235,235,235);
		z-index: 3;
	}
	
	.btn-00-div-01-h-div-00, .btn-01-div-01-h-div-00 {
		width: calc(33.33% + 2px);
		height: 51px;
		position: relative;
		outline: none;
		border: 1px solid rgb(235,235,235);
		margin: -1px -1px 0 -1px;
		box-sizing: border-box;
		transition: 0.5s;
		z-index: 100;
		background-color: white;
		display: flex;
		flex-flow: row nowrap;
	}
	
	.btn-00-div-01-h-div-00 {
		cursor: pointer;
		z-index: 99;
		border-right: 1px solid rgba(235,235,235,0);
		border-left: 1px solid rgba(235,235,235,0);
	}
	
	.btn-00-div-01-h-div-00:hover {
		background-color: rgb(245,245,245);
	}

	.btn-01-div-01-h-div-00 {
		border-radius: 10px 10px 0 0;
		border-bottom: rgba(235,235,235,0);
	}

	
	.svg-00-btn-00-div-01-h-div-00 {
		width: 25px;
		height: 25px;
		margin: 12.5px 5px 12.5px auto;
		position: relative;
	}
	
	.svg-00-btn-00-div-01-h-div-00 path {
		fill: rgb(150,150,150);
		stroke: none;
	}
	
	#btn-01-div-01-h-div-00 .svg-00-btn-00-div-01-h-div-00 path {
		fill: rgb(100,0,255);
	}
	
	.lbl-00-btn-00-div-01-h-div-00 {
		position: relative;
		width: auto;
		height: 20px;
		padding: 3px;
		box-sizing: border-box;
		font-size: 14px;
		line-height: 14px;
		background-color: rgb(0,190,80);
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		color: white;
		border-radius: 5px;
		margin: 15px auto 15px 0;
		pointer-events: none;
	}
	
	
	
	
	
	#div-02-h-div-00, #div-03-h-div-00, #div-04-h-div-00 {
		width: 100%;
		height: auto;
		display: flex;
		flex-flow: column nowrap;
		position: relative;
		margin: 15px 0;
		padding: 0;
		z-index: 3;
	}
	
	.div-00-div-02-h-div-00 {
		width: 100%;
		height: 70px;
		position: relative;
		padding: 20px 25px 24px 25px;
		text-align: left;
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		line-height: 16px;
		color: rgb(50,50,50);
		box-sizing: border-box;
		margin: 0;
		cursor: pointer;
	}
	
	.div-00-div-02-h-div-00:hover {
		background-color: rgb(245,245,245);
	}
	
	.img-00-div-00-div-02-h-div-00 {
		width: 40px;
		height: 40px;
		left: 20px;
		top: 15px;
		border-radius: 20px;
		overflow: hidden;
		position: absolute;
		pointer-events: none;
		object-fit: cover;
	}
	
	.h4-00-div-00-div-02-h-div-00 {
		height: 16px;
		width: calc(100% - 90px);
		position: absolute;
		top: 19px;
		left: 70px;
		line-height: 16px;
		font-size: 16px;
		font-family: 'Lato', sans-serif;
		color: rgb(40,40,40);
		font-weight: 600;
		margin: 0;
		pointer-events: none;
	}
	
	.lbl-00-div-00-div-02-h-div-00 {
		height: 13px;
		width: calc(100% - 90px);
		position: absolute;
		top: 38px;
		left: 70px;
		line-height: 13px;
		font-size: 13px;
		font-family: 'Lato', sans-serif;
		color: rgb(100,100,100);
		font-weight: 400;
		pointer-events: none;
	}
	
	#btn-00-div-02-h-div-00 {
		height: 14px;
		width: auto;
		position: relative;
		margin: 10px auto 0 auto;
		line-height: 14px;
		font-size: 14px;
		font-family: 'Lato', sans-serif;
		color: rgb(50,50,255);
		font-weight: 400;
		outline: none;
		border: none;
		background: none;
		cursor: pointer;
		transition: 0.5s;
	}
	
	#btn-00-div-02-h-div-00:hover {
		color: rgb(100,0,255);
	}
	
	
	
	.div-00-div-03-h-div-00 {
		width: 100%;
		height: 70px;
		position: relative;
		padding: 20px 25px 24px 25px;
		text-align: left;
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		line-height: 16px;
		color: rgb(50,50,50);
		box-sizing: border-box;
		margin: 0;
		cursor: pointer;
	}
	
	.div-00-div-03-h-div-00:hover {
		background-color: rgb(245,245,245);
	}
	
	.div-00-div-00-div-03-h-div-00 {
		width: 40px;
		height: 40px;
		left: 20px;
		top: 15px;
		border-radius: 20px;
		background-color: rgb(240,0,100);
		overflow: hidden;
		position: absolute;
		pointer-events: none;
	}
	
	.lbl-00-div-00-div-00-div-03-h-div-00 {
		height: 20px;
		width: auto;
		position: absolute;
		left: 50%;
		top: calc(50% - 1px);
		line-height: 20px;
		font-size: 20px;
		font-family: 'Lato', sans-serif;
		color: white;
		font-weight: 400;
		white-space: nowrap;
		max-width: 35px;
		transform: translate(-50%, -50%);
		pointer-events: none;
	}
	
	.h4-00-div-00-div-03-h-div-00 {
		height: 16px;
		width: calc(100% - 90px);
		position: absolute;
		top: 19px;
		left: 70px;
		line-height: 16px;
		font-size: 16px;
		font-family: 'Lato', sans-serif;
		color: rgb(40,40,40);
		font-weight: 600;
		margin: 0;
		pointer-events: none;
	}
	
	.lbl-00-div-00-div-03-h-div-00 {
		height: 13px;
		width: calc(100% - 90px);
		position: absolute;
		top: 38px;
		left: 70px;
		line-height: 13px;
		font-size: 13px;
		font-family: 'Lato', sans-serif;
		color: rgb(100,100,100);
		font-weight: 400;
		pointer-events: none;
	}
	
	#btn-00-div-03-h-div-00 {
		height: 14px;
		width: auto;
		position: relative;
		margin: 10px auto 0 auto;
		line-height: 14px;
		font-size: 14px;
		font-family: 'Lato', sans-serif;
		color: rgb(50,50,255);
		font-weight: 400;
		outline: none;
		border: none;
		background: none;
		cursor: pointer;
		transition: 0.5s;
	}
	
	#btn-00-div-03-h-div-00:hover {
		color: rgb(100,0,255);
	}
	
	
	
	
	.a-00-div-04-h-div-00 {
		width: 100%;
		height: 50px;
		position: relative;
		padding: 15px 25px 19px 25px;
		text-align: left;
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		line-height: 16px;
		color: rgb(50,50,50);
		box-sizing: border-box;
		margin: 0;
	}
	
	.a-00-div-04-h-div-00 svg {
		width: 20px;
		height: 20px;
		position: relative;
		margin: 0px -20px -4px 30px;
	}
	
	.a-00-div-04-h-div-00 path {
		fill: rgb(70,70,70);
	}
	
	.a-00-div-04-h-div-00:hover {
		background-color: rgb(245,245,245);
	}
}
