@charset "UTF-8";
/* CSS Document */


@media screen and (min-width:1001px){
	a {
		text-decoration: none;
	}

	#manage-users #div-00 {
		background-color: rgb(245,245,245);
	}

	#manage-users #asd-00-div-00 {
		width: 250px;
		height: calc(100% - 160px);
		position: fixed;
		background-color: rgb(255,255,255);
		display: flex;
		left: 0;
		top: 150px;
		border-radius: 0 10px 10px 0;
		box-shadow: 0 0 30px -10px rgba(0,0,0,0.1);
		flex-flow: column nowrap;
		overflow: hidden;
	}

	#manage-users .div-00-asd-00-div-00 {
		width: 100%;
		height: auto;
		position: relative;
		padding: 0;
	}

	#manage-users .a-00-div-00-asd-00-div-00 {
		width: 100%;
		height: 57px;
		box-sizing: border-box;
		position: relative;
		padding: 21px 10px 21px 10px;
		font-size: 14px;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		line-height: 14px;
		color: rgb(150,150,160);
		cursor: pointer;
		display: block;
		border-bottom: 1px solid rgb(240,240,240);
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
	}

	#manage-users .a-00-div-00-asd-00-div-00:hover {
		color: rgb(75,75,80);
		background-color: rgb(250,250,250);
	}

	#manage-users .lbl-00-a-00-div-00-asd-00-div-00 {
		height: 28px;
		box-sizing: border-box;
		width: auto;
		right: 10px;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		border-radius: 14px;
		font-size: 14px;
		line-height: 14px;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		padding: 7px 8px 7px 8px;
		background-color: rgb(220,220,220);
		color: rgb(50,50,50);
	}

	#manage-users .a-00-div-00-asd-00-div-00 svg {
		width: 15px;
		height: 15px;
		position: absolute;
		top: 23px;
		right: 14px;
	}

	#manage-users .a-00-div-00-asd-00-div-00 svg path {
		stroke: rgb(200,200,200);
		stroke-width: 2px;
		fill: none;
	}





	#manage-users #div-00-div-00 {
		position: relative;
		width: calc(100vw - 250px);
		margin: 0 0 0 250px;
		height: auto;
		min-height: 100vh;
	}


	#manage-users #asd-00-div-00-div-00 {
		width: auto;
		height: 40px;
		position: absolute;
		top: 80px;
		right: 40px;
		z-index: 10000;
		display: flex;
		flex-flow: row nowrap;
	}

	#manage-users #ipt-00-asd-00-div-00-div-00 {
		width: 300px;
		height: 40px;
		box-sizing: border-box;
		border: none;
		border-radius: 0;
		border-bottom: 2px solid rgb(210,210,210);
		padding: 11px 40px 11px 10px;
		font-size: 16px;
		line-height: 16px;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		color: rgb(40,40,40);
		position: relative;
		margin: 0 -40px 0 0;
		background: none;
		outline: none;
		display: block;
	}


	#manage-users #btn-00-asd-00-div-00-div-00 {
		width: 40px;
		height: 40px;
		position: relative;
		margin: 0;
		background: none;
		border: none;
		padding: 0;
		border-radius: 20px;
		cursor: pointer;
		outline: none;
	}

	#manage-users #btn-00-asd-00-div-00-div-00 svg {
		width: 20px;
		height: 20px;
		margin: 10px;
		position: relative;
	}

	#manage-users #btn-00-asd-00-div-00-div-00 svg path {
		stroke: rgb(110,110,110);
		stroke-width: 1px;
		fill: none;
	}

	#manage-users #btn-00-asd-00-div-00-div-00:hover path {
		stroke: rgb(0,0,0);
	}

	
	
	
	#manage-users #div-00-div-00-div-00 {
		width: 300px;
		height: auto;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-flow: column nowrap;
	}
	
	#manage-users #lbl-00-div-00-div-00-div-00 {
		width: 100%;
		height: auto;
		box-sizing: border-box;
		position: relative;
		font-size: 16px;
		font-family: 'Lato', sans-serif;
		line-height: 16px;
		font-weight: 600px;
		color: rgb(20,20,20);
		text-align: center;
		border: none;
		outline: none;
		margin: 50px 0 0 0
	}

	#manage-users #a-00-div-00-div-00-div-00 {
		width: 200px;
		height: 42px;
		box-sizing: border-box;
		position: relative;
		margin: 30px 50px 0 50px;
		font-size: 14px;
		font-family: 'Lato', sans-serif;
		padding: 14px;
		line-height: 14px;
		color: rgb(245,245,245);
		text-align: center;
		background-color: rgb(80,0,255);
		border: none;
		outline: none;
		cursor: pointer;
		border-radius: 4px;
		display: block;

	}

	#manage-users #a-00-div-00-div-00-div-00:hover {
		background-color: rgb(50,0,180);	
	}




	#manage-users #div-01-div-00-div-00 {
		width: calc(100% - 80px);
		padding: 60px 80px 10px 0;
		height: auto;
		position: relative;
		margin: 60px 0 auto 0;
		display: flex;
		flex-flow: row wrap;
	}

	#manage-users .div-00-div-01-div-00-div-00, #manage-users .p-div-00-div-01-div-00-div-00 {
		height: auto;
		position: relative;
		margin: 30px;
		background-color: white;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0 0 30px -10px rgba(0,0,0,0.1);
		display: flex;
		flex-flow: column nowrap;
	}
	
	#manage-users .t-div-00-div-01-div-00-div-00 {
		display: none;
	}

	#manage-users .div-00-div-00-div-01-div-00-div-00 {
		width: 100%;
		padding-top: 50%;
		position: relative;
		top: 0;
		left: 0;
		background-color: rgb(45,40,60);
		cursor: pointer;
		pointer-events: all;
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
		z-index: 2;
	}

	#manage-users .div-00-div-00-div-01-div-00-div-00:hover {
		background-color: rgb(45,40,60);
	}

	#manage-users .lbl-00-div-00-div-00-div-01-div-00-div-00 {
		width: auto;
		min-width: 40px;
		box-sizing: border-box;
		height: 24px;
		padding: 5px;
		border-radius: 4px;
		line-height: 14px;
		position: absolute;
		font-size: 14px;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		color: rgb(255,255,255);
		background-color: rgb(150,100,255);
		top: 8px;
		right: 8px;
		text-align: center;
		z-index: 3;
	}

	#manage-users .lbl-00-div-00-div-00-div-01-div-00-div-00 svg {
		width: 20px;
		height: 20px;
		position: absolute;
		left: -30px;
		top: 2px;
	}

	#manage-users .lbl-00-div-00-div-00-div-01-div-00-div-00 svg path {
		fill: rgb(200,200,200);
		stroke: none;
	}
	
	#manage-users .spn-00-div-00-div-00-div-01-div-00-div-00 {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		object-fit: cover;
		overflow: hidden;
	}
	
	#manage-users .img-00-spn-00-div-00-div-00-div-01-div-00-div-00 {
		width: auto;
		height: auto;
		position: absolute;
		left: 0;
		top: 0;
	}
	
	#manage-users .div-00-div-00-div-00-div-01-div-00-div-00 {
		width: 150px;
		height: 150px;
		position: absolute;
		bottom: -60px;
		left: calc(50% - 75px);
		border-radius: 75px;
		background-color: white;
	}
	
	#manage-users .spn-00-div-00-div-00-div-00-div-01-div-00-div-00 {
		width: 135px;
		height: 135px;
		position: absolute;
		left: 7.5px;
		top: 7.5px;
		border-radius: 67.5px;
		border: none;
		object-fit: cover;
		background-color: rgb(45,40,60);
		overflow: hidden;
	}
	
	#manage-users .img-00-spn-00-div-00-div-00-div-00-div-01-div-00-div-00 {
		width: auto;
		height: auto;
		position: absolute;
		left: 0;
		top: 0;
	}
	
	
	

	#manage-users .div-01-div-00-div-01-div-00-div-00 {
		width: 100%;
		height: auto;
		position: relative;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		background-color: white;
		padding-top: 60px;
	}

	#manage-users .h3-00-div-01-div-00-div-01-div-00-div-00 {
		width: calc(100% - 20px);
		margin: 5px 10px 0 10px;
		padding: 5px 0;
		position: relative;
		height: auto;
		min-height: 24px;
		line-height: 24px;
		font-size: 24px;
		font-weight: 600;
		font-family: 'Lato', sans-serif;
		color: rgb(10,10,10);
		overflow: hidden;
		text-align: center;
	}

	#manage-users .h4-00-div-01-div-00-div-01-div-00-div-00 {
		width: calc(100% - 40px);
		margin: 5px 20px 0 20px;
		position: relative;
		padding: 0 0 5px 0;
		height: 14px;
		line-height: 14px;
		font-size: 14px;
		font-weight: 400;
		font-family: 'Lato', sans-serif;
		color: rgb(120,120,120);
		overflow: hidden;
		text-align: center;
	}

	#manage-users .btn-00-div-01-div-00-div-01-div-00-div-00 {
		width: 40px;
		position: relative;
		border: none;
		background: rgb(245,245,245);
		height: 40px;
		cursor: pointer;
		padding: 0;
		outline: none;
		border-radius: 25px;
		overflow: hidden;
		margin: 20px 10px 30px 10px;
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
	}

	#manage-users .btn-00-div-01-div-00-div-01-div-00-div-00:hover {
		background-color: rgb(90,0,255);
	}

	#manage-users .svg-00-btn-00-div-01-div-00-div-01-div-00-div-00 {
		height: auto;
		width: 20px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		pointer-events: none;
	}

	#manage-users .btn-00-div-01-div-00-div-01-div-00-div-00 path {
		fill: rgb(50,50,50);
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
	}

	#manage-users .btn-00-div-01-div-00-div-01-div-00-div-00:hover path {
		fill: rgb(255,255,255);
	}
	
	
	
	#manage-users #div-02-div-00-div-00 {
		width: 300px;
		height: auto;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-flow: column nowrap;
	}
	
	#manage-users #img-00-div-02-div-00-div-00 {
		width: 150px;
		height: 150px;
		position: relative;
		margin: 50px 75px 0 75px;
	}
	
	#manage-users #lbl-00-div-02-div-00-div-00 {
		width: 100%;
		height: auto;
		box-sizing: border-box;
		position: relative;
		font-size: 16px;
		font-family: 'Lato', sans-serif;
		line-height: 16px;
		font-weight: 600px;
		color: rgb(60,40,30);
		text-align: center;
		border: none;
		outline: none;
		margin: 20px 0 0 0
	}
	
	
	
	#manage-users #div-03-div-00-div-00 {
		width: calc(100% - 80px);
		padding: 60px 80px 10px 0;
		height: auto;
		position: relative;
		margin: 60px 0 auto 0;
		display: flex;
		flex-flow: row wrap;
	}

	
	
	
	
	
	
	
	
	
	
	
	
	/* Loading Content */

	#manage-users .p-div-00-div-01-div-00-div-00 .div-00-div-00-div-01-div-00-div-00 {
		background-color: rgb(235,235,235);
		cursor: default;
	}
	
	#manage-users .p-div-00-div-01-div-00-div-00 .lbl-00-div-00-div-00-div-01-div-00-div-00 {
		background-color: rgb(210,210,210);
		animation-duration: 1.5s;
		animation-delay: 1.5s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-name: placeHolderPulse;
		animation-timing-function: linear;
	}
	
	#manage-users .p-div-00-div-01-div-00-div-00 .lbl-00-div-00-div-00-div-01-div-00-div-00 svg {
		display: none;
	}

	#manage-users .p-div-00-div-01-div-00-div-00 .spn-00-div-00-div-00-div-00-div-01-div-00-div-00 {
		background-color: rgb(210,210,210);
		animation-duration: 1.5s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-name: placeHolderPulse;
		animation-timing-function: linear;
	}
	
	#manage-users .p-div-00-div-01-div-00-div-00 .h3-00-div-01-div-00-div-01-div-00-div-00::after {
		content: '';
		background-color: rgb(230,230,230);
		display: block;
		width: 70%;
		height: 24px;
		position: absolute;
		top: 5px;
		left: 15%;
		animation-duration: 1.5s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-name: placeHolderPulse;
		animation-timing-function: linear;
	}
	
	#manage-users .p-div-00-div-01-div-00-div-00 .h4-00-div-01-div-00-div-01-div-00-div-00::after {
		content: '';
		background-color: rgb(230,230,230);
		display: block;
		width: 60%;
		height: 14px;
		position: absolute;
		top: 5px;
		left: 20%;
		animation-duration: 1.5s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-name: placeHolderPulse;
		animation-timing-function: linear;
	}
	
	#manage-users .p-div-00-div-01-div-00-div-00 .btn-00-div-01-div-00-div-01-div-00-div-00 {
		background-color: rgb(230,230,230);
		cursor: default;
		animation-duration: 1.5s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-name: placeHolderPulse;
		animation-timing-function: linear;
	}
	
	#manage-users .p-div-00-div-01-div-00-div-00 .btn-00-div-01-div-00-div-01-div-00-div-00 svg {
		display: none;
	}
	
	
	
	
	
	
	#manage-users #div-01-div-00 {
		position: fixed;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		z-index: 100000;
		background-color: rgba(0,0,0,0.6);
	}
	
	#manage-users #div-00-div-01-div-00 {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: rgb(240,240,240);
		border-radius: 10px;
		width: 350px;
		height: auto;
		display: flex;
		flex-flow: row wrap;
	}
	
	#manage-users #div-00-div-01-div-00 svg {
		width: 70px;
		height: 70px;
		position: relative;
		margin: 50px auto 0 calc(50% - 35px);
	}
	
	#manage-users #div-00-div-01-div-00 path {
		fill: rgb(50,50,50);
	}
	
	#manage-users #div-00-div-01-div-00 label {
		width: 250px;
		height: auto;
		position: relative;
		margin: 10px auto 0 calc(50% - 125px);
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
		color: rgb(20,20,20);
		text-align: center;
	}
	
	#manage-users #btn-00-div-00-div-01-div-00, #manage-users #btn-01-div-00-div-01-div-00 {
		width: 200px;
		max-width: calc(50% - 30px);
		height: 50px;
		position: relative;
		margin: 40px 10px 0 20px;
		flex-shrink: 0;
		border-radius: 25px;
		padding: 17px;
		color: rgb(240,240,240);
		background-color: rgb(90,0,255);
		cursor: pointer;
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		line-height: 16px;
		font-weight: 500;
		text-align: center;
		box-sizing: border-box;
		border: none;
		outline: none;
	}
	
	#manage-users #btn-01-div-00-div-01-div-00 {
		margin: 40px 20px 0 10px;
	}
	
	#manage-users #btn-02-div-00-div-01-div-00 {
		width: 150px;
		max-width: calc(100% - 60px);
		height: 16px;
		position: relative;
		margin: 15px auto 40px 50%;
		transform: translate(-50%);
		flex-shrink: 0;
		color: rgb(80,80,80);
		background: none;
		border: none;
		cursor: pointer;
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		line-height: 16px;
		font-weight: 500;
		text-align: center;
		outline: none;
	}
	
	#manage-users #btn-00-div-00-div-01-div-00:hover, #manage-users #btn-01-div-00-div-01-div-00:hover {
		background-color: rgb(70,0,230);
	}
	
	#manage-users #btn-02-div-00-div-01-div-00:hover {
		color: rgb(0,0,0);
	}
	
	
	
	#manage-users #div-01-div-01-div-00 {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: rgb(240,240,240);
		border-radius: 10px;
		width: 480px;
		height: auto;
		display: flex;
		flex-flow: row wrap;
	}
	
	#manage-users #div-00-div-01-div-01-div-00, #manage-users #div-01-div-01-div-01-div-00 {
		width: auto;
		height: 75px;
		margin: 70px 0 0 35px;
		position: relative;
		display: flex;
		flex-flow: row nowrap;
	}
	
	#manage-users #div-01-div-01-div-01-div-00 {
		margin: 70px 35px 0 50px;
	}
	
	#manage-users .div-00-div-00-div-01-div-01-div-00, #manage-users .div-00-div-01-div-01-div-01-div-00 {
		width: 60px;
		height: 80px;
		position: relative;
		overflow: hidden;
		border-radius: 8px;
		margin: 0;
		flex-shrink: 0;
	}

	
	#manage-users .btn-00-div-00-div-00-div-01-div-01-div-00, #manage-users .btn-01-div-00-div-00-div-01-div-01-div-00, #manage-users .btn-00-div-00-div-01-div-01-div-01-div-00, #manage-users .btn-01-div-00-div-01-div-01-div-01-div-00 {
		width: 100%;
		height: 25px;
		position: absolute;
		left: 0;
		top: 0;
		background-color: rgb(90,0,255);
		outline: none;
		border: 0;
		padding: 0;
		border-radius: 4px;
		cursor: pointer;
	}
	
	#manage-users .btn-01-div-00-div-00-div-01-div-01-div-00, #manage-users .btn-01-div-00-div-01-div-01-div-01-div-00 {
		top: calc(100% - 25px);
	}
	
	#manage-users .btn-00-div-00-div-00-div-01-div-01-div-00:hover, #manage-users .btn-01-div-00-div-00-div-01-div-01-div-00:hover, #manage-users .btn-00-div-00-div-01-div-01-div-01-div-00:hover, #manage-users .btn-01-div-00-div-01-div-01-div-01-div-00:hover {
		background-color: rgb(70,0,220);
	}
	
	#manage-users .btn-00-div-00-div-00-div-01-div-01-div-00 svg, #manage-users .btn-01-div-00-div-00-div-01-div-01-div-00 svg, #manage-users .btn-00-div-00-div-01-div-01-div-01-div-00 svg, #manage-users .btn-01-div-00-div-01-div-01-div-01-div-00 svg {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 2.5px;
		left: calc(50% - 10px);
	}
	
	#manage-users .btn-00-div-00-div-00-div-01-div-01-div-00 path, #manage-users .btn-01-div-00-div-00-div-01-div-01-div-00 path, #manage-users .btn-00-div-00-div-01-div-01-div-01-div-00 path, #manage-users .btn-01-div-00-div-01-div-01-div-01-div-00 path {
		stroke: rgba(255,255,255,0.75);
		stroke-width: 1.5px;
		fill: none;
	}
	
	
	#manage-users .div-00-div-00-div-00-div-01-div-01-div-00, #manage-users .div-00-div-00-div-01-div-01-div-01-div-00 {
		width: 100%;
		height: 30px;
		box-sizing: border-box;
		background-color: white;
		padding: 6px;
		font-size: 18px;
		line-height: 18px;
		color: rgb(100,100,100);
		font-weight: 600;
		font-family: 'Lato', sans-serif;
		position: absolute;
		text-align: center;
		left: 0;
		top: 25px;
		flex-shrink: 0;
	}
	
	#manage-users .lbl-00-div-00-div-01-div-01-div-00, #manage-users #lbl-00-div-01-div-01-div-01-div-00 {
		width: 20px;
		text-align: center;
		height: 20px;
		position: relative;
		margin: 30px 0;
		font-size: 18px;
		line-height: 18px;
		color: rgb(100,100,100);
		font-weight: 600;
		font-family: 'Lato', sans-serif;
	}

	#manage-users #lbl-00-div-01-div-01-div-00 {
		width: auto;
		text-align: center;
		height: 14px;
		position: relative;
		margin: 25px auto 0 50%;
		transform: translate(-50%);
		font-size: 14px;
		line-height: 14px;
		color: rgb(80,80,80);
		font-weight: 400;
		font-family: 'Lato', sans-serif;
	}
	
	
	
	#manage-users #btn-00-div-01-div-01-div-00 {
		width: 280px;
		height: 50px;
		position: relative;
		margin: 50px auto 0 50%;
		transform: translate(-50%);
		flex-shrink: 0;
		border-radius: 25px;
		padding: 17px;
		color: rgb(240,240,240);
		background-color: rgb(90,0,255);
		cursor: pointer;
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		line-height: 16px;
		font-weight: 500;
		text-align: center;
		box-sizing: border-box;
		border: none;
		outline: none;
	}
	
	#manage-users #btn-01-div-01-div-01-div-00 {
		width: 150px;
		height: 16px;
		position: relative;
		margin: 15px auto 40px calc(50% - 75px);
		color: rgb(80,80,80);
		background: none;
		border: none;
		cursor: pointer;
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		line-height: 16px;
		font-weight: 500;
		text-align: center;
		outline: none;
	}
	
	#manage-users #btn-00-div-01-div-01-div-00:hover {
		background-color: rgb(70,0,230);
	}
	
	#manage-users #btn-01-div-01-div-01-div-00:hover {
		color: rgb(0,0,0);
	}
	
	
	
	
	#manage-users #div-02-div-01-div-00 {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: rgb(240,240,240);
		border-radius: 10px;
		width: 350px;
		height: auto;
		display: flex;
		flex-flow: column nowrap;
	}
	
	#manage-users #div-02-div-01-div-00 svg {
		width: 70px;
		height: 70px;
		position: relative;
		margin: 50px auto 0 calc(50% - 35px);
	}
	
	#manage-users #div-02-div-01-div-00 path {
		fill: rgb(50,50,50);
	}
	
	#manage-users #div-02-div-01-div-00 label {
		width: 250px;
		height: auto;
		position: relative;
		margin: 10px auto 0 calc(50% - 125px);
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
		color: rgb(20,20,20);
		text-align: center;
	}
	
	#manage-users #btn-00-div-02-div-01-div-00 {
		width: 200px;
		height: 50px;
		position: relative;
		margin: 40px auto 0 calc(50% - 100px);
		border-radius: 25px;
		padding: 17px;
		color: rgb(240,240,240);
		background-color: rgb(90,0,255);
		cursor: pointer;
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		line-height: 16px;
		font-weight: 500;
		text-align: center;
		box-sizing: border-box;
		border: none;
		outline: none;
	}
	
	#manage-users #btn-01-div-02-div-01-div-00 {
		width: 150px;
		height: 16px;
		position: relative;
		margin: 15px auto 40px calc(50% - 75px);
		color: rgb(80,80,80);
		background: none;
		border: none;
		cursor: pointer;
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		line-height: 16px;
		font-weight: 500;
		text-align: center;
		outline: none;
	}
	
	#manage-users #btn-00-div-02-div-01-div-00:hover {
		background-color: rgb(70,0,230);
	}
	
	#manage-users #btn-01-div-02-div-01-div-00:hover {
		color: rgb(0,0,0);
	}
}

@media screen and (max-width:700px){
	#manage-users .div-00-div-01-div-00-div-00, #manage-users .p-div-00-div-01-div-00-div-00 {
		width: calc(100% - 60px);
	}
}

@media screen and (min-width: 701px) and (max-width:1000px){
	#manage-users .div-00-div-01-div-00-div-00, #manage-users .p-div-00-div-01-div-00-div-00 {
		width: calc(50% - 60px);
	}
}

@media screen and (min-width:1001px) and (max-width:1300px){
	#manage-users .div-00-div-01-div-00-div-00, #manage-users .p-div-00-div-01-div-00-div-00 {
		width: calc(50% - 60px);
	}
}

@media screen and (min-width:1301px) and (max-width: 1900px){
	#manage-users .div-00-div-01-div-00-div-00, #manage-users .p-div-00-div-01-div-00-div-00 {
		width: calc(33% - 60px);
	}
}

@media screen and (min-width:1901px){
	#manage-users .div-00-div-01-div-00-div-00, #manage-users .p-div-00-div-01-div-00-div-00 {
		width: calc(25% - 60px);
	}
}

